<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      <%= @title || "My First App Page" %>
    </title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
  </head>
  <body>
    <%= yield %>
  </body>
</html>
